<%- include('../partials/header', {title, user}) %>
    <div class="px-8 py-2">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
        <% if (content.PageId) { %>
            <dialog id="editorDialog"
                class="p-8 max-w-4xl w-full max-h-full mx-auto bg-white rounded-lg shadow-lg overflow-y-auto">
                <form id="editorFormUpdate" class="space-y-4">
                    <div>
                        <label for="menu" class="block text-gray-700 font-medium">Título</label>
                        <input type="text" name="menu" id="menu" placeholder="Ingrese título del menú" value="<%= content.MenuTitle %>" required
                            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    </div>

                    <div>
                        <label for="title" class="block text-gray-700 font-medium">Subtitulo (opcional)</label>
                        <input type="text" name="title" id="title" placeholder="Ingrese título del blog" value="<%= content.Title %>"
                            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div id="editor-container" class="max-h-max">
                        <%- content.Content %>
                    </div>
                    <div class="flex justify-between gap-4">
                        <button type="button" id="btn-close"
                            class="px-6 py-2 bg-red-300 text-gray-800 rounded-md hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                            Cerrar
                        </button>

                        <button type="submit"
                            class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                            Actualizar contenido
                        </button>
                    </div>
                </form>
            </dialog>
            <div class="text-center justify-between w-full">
                <button id="btn-modal"
                class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                Actualizar
                </button>
            </div>
            <% } else { %>
                <dialog id="editorDialog"
                    class="p-8 max-w-4xl w-full max-h-full mx-auto bg-white rounded-lg shadow-lg overflow-y-auto">
                    <form id="editorForm" class="space-y-4">
                        <div>
                            <label for="menu" class="block text-gray-700 font-medium">Título</label>
                            <input type="text" name="menu" id="menu" placeholder="Ingrese título del menú" required
                                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                        </div>

                        <div>
                            <label for="title" class="block text-gray-700 font-medium">Subtitulo (opcional)</label>
                            <input type="text" name="title" id="title" placeholder="Ingrese título del blog" 
                                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                        </div>
                        <div id="editor-container" class="max-h-max"></div>
                        <div class="flex justify-between gap-4">
                            <button type="button" id="btn-close"
                            class="px-6 py-2 bg-red-300 text-gray-800 rounded-md hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                                Cerrar
                            </button>

                            <button type="submit"
                                class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                                Guardar contenido
                            </button>
                        </div>
                    </form>
                </dialog>
                <div class="text-center justify-between w-full">
                    <button id="btn-modal"
                    class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    Crear contenido
                </button>
            </div>
                <% } %>
                <%if(content.Title || content.MenuTitle)  {%>
                    <div class="max-w-2xl mx-auto my-8">
                        <div class="my-8">
                            <h1 class="text-4xl font-bold "><%= content.MenuTitle%></h1>
                            <h5 class="text-md font-semibold text-gray-600"><%= content.Title%></h5>
                        </div>
                        <h5 class="text-xs text-gray-600 text-muted-foreground">Publicado el <%= new Date(content.Datetime).toLocaleString('es-VE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false }) %></h5>
                        <hr class="mx-3 my-4 border-t border-gray-400">
                        <%- content.Content %>
                    </div>
                <%}%>
    </div>
    <script>
        const $ = (el) => document.querySelector(el);
        const formCreate = $("#editorForm");
        const formUpdate = $("#editorFormUpdate");
        const btnCrear = $("#btn-modal");
        const btnClose = $("#btn-close");
        const dialog = $("#editorDialog");
        const pathname = window.location.pathname; 
        const parts = pathname.split("/");
        const pageId = parts[parts.length - 1];
        btnCrear.addEventListener("click", () => {
            dialog.showModal();
        });
        btnClose.addEventListener("click", () => {
            dialog.close();
        });
        var quill = new Quill('#editor-container', {
            theme: 'snow', 
            modules: {
                toolbar: [
                    [{ header: [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'size': ['small', 'normal', 'large', 'huge'] }],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'color': [] }, { 'background': [] }],
                    ['link', 'image', 'video'],
                    ['blockquote', 'code-block'],
                    [{ 'script': 'sub' }, { 'script': 'super' }],
                    ['formula'], 
                ],
                history: {
                    userOnly: true 
                },
                clipboard: {
                    matchVisual: false, 
                },
            }
        });

        formCreate?.addEventListener('submit', async function (e) {
            e.preventDefault();
            const formData = new FormData(formCreate);
            const menu = formData.get('menu');
            const title = formData.get('title');
            var content = quill.root.innerHTML;

            const result = await fetch('/content', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    menu: menu,
                    title: title,
                    content: content,
                    pageId: pageId
                }) 
            })
            window.location.reload();
        });
        formUpdate?.addEventListener('submit', async function (e) {
            e.preventDefault();
            const formData = new FormData(formUpdate);
            const menu = formData.get('menu');
            const title = formData.get('title');
            var content = quill.root.innerHTML;

            const result = await fetch(`/content/${pageId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    menu: menu,
                    title: title,
                    content: content,
                    pageId: pageId
                }) 
            })
            window.location.reload();
        });
    </script>

    </html>


    <%- include('../partials/footer',{user}) %>