<%- include('../partials/header', { title, user }) %>

  <h1>Detalles del Colegiado</h1>
  <button id="button">Pagos</button>
  <button id="openDialogButton">Actualizar</button>

  <table>
    <thead>
      <tr>
        <th>Campo</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Matricula</td>
        <td>
          <%= result.Matricula %>
        </td>
      </tr>
      <tr>
        <td>Matricula Conalab</td>
        <td>
          <%= result.MatriculaConalab || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Foto</td>
        <td><img src="" alt="<%= result.Foto %>" width="100"></td>
      </tr>
      <tr>
        <td>Firma</td>
        <td><img src="#" alt="<%= result.Firma %>" width="100"></td>
      </tr>
      <tr>
        <td>PDF</td>
        <td><a href="#"" target=" _blank">Ver PDF <%= result.Pdf %>"</a></td>
      </tr>
      <tr>
        <td>Nombre Completo</td>
        <td>
          <%= result.Nombres %>
            <%= result.Paterno %>
              <%= result.Materno %>
        </td>
      </tr>
      <tr>
        <td>Teléfono Oficina</td>
        <td>
          <%= result.TelefonoOficina %>
        </td>
      </tr>
      <tr>
        <td>Dirección Oficina</td>
        <td>
          <%= result.DireccionOficina %>
        </td>
      </tr>
      <tr>
        <td>Correo</td>
        <td>
          <%= result.Correo || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Lugar de Nacimiento</td>
        <td>
          <%= result.LugarNacimiento %>
        </td>
      </tr>
      <tr>
        <td>Fecha de Nacimiento</td>
        <td>
          <%= result.FechaNacimiento ? new Date(result.FechaNacimiento).toLocaleDateString() : "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Numero CI</td>
        <td>
          <%= result.NumeroCI %>
        </td>
      </tr>
      <tr>
        <td>Numero RUC</td>
        <td>
          <%= result.NumeroRuc %>
        </td>
      </tr>
      <tr>
        <td>Estado Civil</td>
        <td>
          <%= result.EstadoCivil %>
        </td>
      </tr>
      <tr>
        <td>Universidad</td>
        <td>
          <%= result.Universidad %>
        </td>
      </tr>
      <tr>
        <td>Fecha Tesis</td>
        <td>
          <%= result.FechaTesis ? (()=> {
            // Convertir la fecha del formato 'DD/MM/YYYY' a 'YYYY-MM-DD'
            const [day, month, year] = result.FechaTesis.split('/');
            const formattedDate = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
            return new Date(formattedDate).toLocaleDateString();
            })()
            : "No disponible"
            %>
        </td>
      </tr>
      <tr>
        <td>Universidad Licenciatura</td>
        <td>
          <%= result.UniversidadLicenciatura %>
        </td>
      </tr>
      <tr>
        <td>Fecha Licenciatura</td>
        <td>
          <%= result.FechaLicenciatura ? new Date(result.FechaLicenciatura).toLocaleDateString() : "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Fecha Provision Nacional</td>
        <td>
          <%= result.FechaProvisionNacional ? new Date(result.FechaProvisionNacional).toLocaleDateString()
            : "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Entidad Provision Nacional</td>
        <td>
          <%= result.EntidadProvisionNacional %>
        </td>
      </tr>
      <tr>
        <td>Fecha Matriculación al Colegio</td>
        <td>
          <%= result.FechaMatriculacionAlColegio ? new Date(result.FechaMatriculacionAlColegio).toLocaleDateString()
            : "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Cargos Administración Pública</td>
        <td>
          <%= result.CargosAdministracionPublica %>
        </td>
      </tr>
      <tr>
        <td>Cargos Empresa Privada</td>
        <td>
          <%= result.CargosEmpresaPrivada %>
        </td>
      </tr>
      <tr>
        <td>Cargos Bufete</td>
        <td>
          <%= result.CargosBufete || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Cargo Actual</td>
        <td>
          <%= result.CargoActual %>
        </td>
      </tr>
      <tr>
        <td>Especialidad Primaria</td>
        <td>
          <%= result.EspecialidadPrimaria || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Especialidad Secundaria</td>
        <td>
          <%= result.EspecialidadSecundaria %>
        </td>
      </tr>
      <tr>
        <td>Producciones</td>
        <td>
          <%= result.Producciones || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Cátedra</td>
        <td>
          <%= result.Catedra %>
        </td>
      </tr>
      <tr>
        <td>Estudios Especialización</td>
        <td>
          <%= result.EstudiosEspecializacion %>
        </td>
      </tr>
      <tr>
        <td>Reconocimientos</td>
        <td>
          <%= result.Reconocimientos || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Asistencia a Eventos Internacionales</td>
        <td>
          <%= result.AsistenciaEventosInternacionales %>
        </td>
      </tr>
      <tr>
        <td>Institución Asegurado</td>
        <td>
          <%= result.InstitucionAsegurado %>
        </td>
      </tr>
      <tr>
        <td>Beneficiarios</td>
        <td>
          <%= result.Beneficiarios || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Dirección Domicilio</td>
        <td>
          <%= result.DireccionDomicilio %>
        </td>
      </tr>
      <tr>
        <td>Teléfono Domicilio</td>
        <td>
          <%= result.TelefonoDomicilio %>
        </td>
      </tr>
      <tr>
        <td>Casilla</td>
        <td>
          <%= result.Casilla || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Situación</td>
        <td>
          <%= result.Situacion || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Observación</td>
        <td>
          <%= result.Observacion || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Zona Id</td>
        <td>
          <%= result.ZonaId || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Nacionalidad</td>
        <td>
          <%= result.Nacionalidad || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Celular</td>
        <td>
          <%= result.Celular || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Grado Académico</td>
        <td>
          <%= result.GradoAcademico || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Licenciatura</td>
        <td>
          <%= result.Licenciatura || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Zona Trabajo Id</td>
        <td>
          <%= result.ZonaTrabajoId || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Forma de Pago</td>
        <td>
          <%= result.FormaDePago || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Boleta Depósito Número</td>
        <td>
          <%= result.BoletaDepositoNumero || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Monto Depósito</td>
        <td>
          <%= result.MontoDeposito || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Formulario de Admisión</td>
        <td>
          <%= result.FormularioDeAdmision || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Fotocopia Título Profesional</td>
        <td>
          <%= result.FotocopiaTituloProfesional || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Certificado Nacimiento Original</td>
        <td>
          <%= result.CertificadoNacimientoOriginal || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Fotocopia CI</td>
        <td>
          <%= result.FotocopiaCI || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Currículum Vitae</td>
        <td>
          <%= result.CurriculumVitae || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Usuario Registro</td>
        <td>
          <%= result.UsuarioRegistro || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Fecha Registro</td>
        <td>
          <%= result.FechaRegistro ? new Date(result.FechaRegistro).toLocaleDateString() : "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Usuario Modificación</td>
        <td>
          <%= result.UsuarioModificacion || "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Fecha Modificación</td>
        <td>
          <%= result.FechaModificacion ? new Date(result.FechaModificacion).toLocaleDateString() : "No disponible" %>
        </td>
      </tr>
      <tr>
        <td>Estado</td>
        <td>
          <%= result.Estado %>
        </td>
      </tr>
    </tbody>
  </table>

  <dialog id="personalDataDialog">
    <h2>Formulario de Registros</h2>
    <form id="personalDataForm">
      <h3>Datos personales</h3>
      <label for="matricula">Matrícula:</label>
      <input type="text" id="matricula" name="matricula" value="<%=result.Matricula%>" required>

      <label for="matriculaConalab">Matrícula Conalab:</label>
      <input type="text" id="matriculaConalab" name="matriculaConalab" value="<%=result.matriculaConalab%>" required>

      <label for="nombres">Nombres:</label>
      <input type="text" id="nombres" name="nombres" value="<%=result.Nombres%>" required>

      <label for="paterno">Apellido Paterno:</label>
      <input type="text" id="paterno" name="paterno" value="<%=result.Paterno%>" required>

      <label for="materno">Apellido Materno:</label>
      <input type="text" id="materno" name="materno" value="<%=result.Materno%>" required>

      <label for="telefonoOficina">Teléfono Oficina:</label>
      <input type="tel" id="telefonoOficina" name="telefonoOficina" value="<%=result.TelefonoOficina%>" required>

      <label for="direccionOficina">Dirección Oficina:</label>
      <input type="text" id="direccionOficina" name="direccionOficina" value="<%=result.DireccionOficina%>">

      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" value="<%=result.Correo%>">

      <label for="lugarNacimiento">Lugar de Nacimiento:</label>
      <input type="text" id="lugarNacimiento" name="lugarNacimiento" value="<%=result.LugarNacimiento%>">

      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" name="fechaNacimiento"
        value="<%= result.FechaNacimiento ? new Date(result.FechaNacimiento).toISOString().split('T')[0] : '' %>">

      <label for="numeroCI">Número CI:</label>
      <input type="text" id="numeroCI" name="numeroCI" value="<%=result.NumeroCI%>">

      <label for="numeroRuc">Número RUC:</label>
      <input type="text" id="numeroRuc" name="numeroRuc" value="<%=result.NumeroRuc%>">

      <label for="estadoCivil">Estado Civil:</label>
      <select id="estadoCivil" name="estadoCivil" value="<%=result.EstadoCivil%>">
        <option value="soltero">Soltero</option>
        <option value="casado">Casado</option>
        <option value="divorciado">Divorciado</option>
        <option value="viudo">Viudo</option>
      </select>
      <h3>Estudios</h3>
      <label for="universidad">Universidad:</label>
      <input type="text" id="universidad" name="universidad" value="<%=result.Universidad%>">

      <label for="fechaTesis">Fecha Tesis:</label>
      <input type="date" id="fechaTesis" name="fechaTesis" value="<%= result.FechaTesis ? new Date(result.FechaTesis).toLocaleDateString() : '' %>">


      <label for="universidadLicenciatura">Universidad Licenciatura:</label>
      <input type="text" id="universidadLicenciatura" name="universidadLicenciatura"
        value="<%=result.UniversidadLicenciatura%>">

      <label for="fechaLicenciatura">Fecha Licenciatura:</label>
      <input type="date" id="fechaLicenciatura" name="fechaLicenciatura"
        value="<%=result.FechaLicenciatura ? new Date(result.FechaLicenciatura).toISOString().split('T')[0] : ''%>">

      <label for="fechaProvisionNacional">Fecha Provisión Nacional:</label>
      <input type="date" id="fechaProvisionNacional" name="fechaProvisionNacional"
        value="<%=result.FechaProvisionNacional ? new Date(result.FechaProvisionNacional).toISOString().split('T')[0] : ''%>">

      <label for="entidadProvisionNacional">Entidad Provisión Nacional:</label>
      <input type="text" id="entidadProvisionNacional" name="entidadProvisionNacional"
        value="<%=result.EntidadProvisionNacional%>">

      <label for="fechaMatriculacionAlColegio">Fecha Matriculación al Colegio:</label>
      <input type="date" id="fechaMatriculacionAlColegio" name="fechaMatriculacionAlColegio"
        value="<%=result.FechaMatriculacionAlColegio ? new Date(result.FechaMatriculacionAlColegio).toISOString().split('T')[0] : ''%>">
      <h3>Cargos Desempeñados</h3>
      <label for="cargosAdministracionPublica">Cargos Administración Pública:</label>
      <input id="cargosAdministracionPublica" name="cargosAdministracionPublica"
        value="<%=result.CargosAdministracionPublica%>"></input>

      <label for="cargosEmpresaPrivada">Cargos Empresa Privada:</label>
      <input id="cargosEmpresaPrivada" name="cargosEmpresaPrivada" value="<%=result.CargosEmpresaPrivada%>"></input>

      <label for="cargosBufete">Cargos Bufete:</label>
      <input id="cargosBufete" name="cargosBufete" value="<%=result.CargosBufete%>"></input>

      <label for="cargoActual">Cargo Actual:</label>
      <input type="text" id="cargoActual" name="cargoActual" value="<%=result.CargoActual%>">

      <label for="especialidadPrimaria">Especialidad Primaria:</label>
      <input type="text" id="especialidadPrimaria" name="especialidadPrimaria" value="<%=result.EspecialidadPrimaria%>">

      <label for="especialidadSecundaria">Especialidad Secundaria:</label>
      <input type="text" id="especialidadSecundaria" name="especialidadSecundaria"
        value="<%=result.EspecialidadSecundaria%>">

      <label for="producciones">Producciones:</label>
      <input id="producciones" name="producciones" value="<%=result.Producciones%>"></input>

      <label for="catedra">Cátedra:</label>
      <input id="catedra" name="catedra" value="<%=result.Catedra%>"></input>

      <label for="estudiosEspecializacion">Estudios de Especialización:</label>
      <input id="estudiosEspecializacion" name="estudiosEspecializacion"
        value="<%=result.EstudiosEspecializacion%>"></input>

      <label for="reconocimientos">Reconocimientos:</label>
      <input id="reconocimientos" name="reconocimientos" value="<%=result.Reconocimientos%>"></input>

      <label for="asistenciaEventosInternacionales">Asistencia a Eventos Internacionales:</label>
      <input id="asistenciaEventosInternacionales" name="asistenciaEventosInternacionales"
        value="<%=result.AsistenciaEventosInternacionales%>"></input>
      <h3>Otros</h3>
      <label for="institucionAsegurado">Institución Asegurado:</label>
      <input type="text" id="institucionAsegurado" name="institucionAsegurado" value="<%=result.InstitucionAsegurado%>">

      <label for="beneficiarios">Beneficiarios:</label>
      <input id="beneficiarios" name="beneficiarios" value="<%=result.Beneficiarios%>"></input>

      <label for="direccionDomicilio">Dirección Domicilio:</label>
      <input type="text" id="direccionDomicilio" name="direccionDomicilio" value="<%=result.DireccionDomicilio%>">

      <label for="telefonoDomicilio">Teléfono Domicilio:</label>
      <input type="tel" id="telefonoDomicilio" name="telefonoDomicilio" value="<%=result.TelefonoDomicilio%>">

      <label for="casilla">Casilla:</label>
      <input type="text" id="casilla" name="casilla" value="<%=result.Casilla%>">

      <label for="situacion">Situación:</label>
      <input type="text" id="situacion" name="situacion" value="<%=result.Situación%>">

      <label for="observacion">Observación:</label>
      <input id="observacion" name="observacion" value="<%=result.Observacion%>"></input>

      <label for="zona">Zona:</label>
      <input type="text" id="zona" name="zona">

      <label for="nacionalidad">Nacionalidad:</label>
      <input type="text" id="nacionalidad" name="nacionalidad" value="<%=result.Nacionalidad%>">

      <label for="celular">Celular:</label>
      <input type="tel" id="celular" name="celular" value="<%=result.Celular%>">

      <label for="gradoAcademico">Grado Académico:</label>
      <input type="text" id="gradoAcademico" name="gradoAcademico" value="<%=result.GradoAcademico%>">

      <label for="licenciatura">Licenciatura:</label>
      <input type="text" id="licenciatura" name="licenciatura" value="<%=result.Licenciatura%>">

      <label for="zonaTrabajo">Zona de Trabajo:</label>
      <input type="text" id="zonaTrabajo" name="zonaTrabajo" value="<%=result.ZonaTrabajoId%>">

      <label for="formaDePago">Forma de Pago:</label>
      <select id="formaDePago" name="formaDePago" value="<%=result.FormaDePago%>">
        <option value="efectivo">Efectivo</option>
        <option value="cheque">Cheque</option>
        <option value="transferencia">Transferencia</option>
      </select>

      <label for="boletaDepositoNumero">Boleta Depósito Número:</label>
      <input type="text" id="boletaDepositoNumero" name="boletaDepositoNumero" value="<%=result.BoletaDepositoNumero%>">

      <label for="montoDeposito">Monto Depósito:</label>
      <input type="number" id="montoDeposito" name="montoDeposito" value="<%=result.MontoDeposito%>" step="0.01">

      <label for="formularioAdmision">Formulario de Admisión:</label>
      <input type="text" id="formularioAdmision" name="formularioAdmision" value="<%=result.FormularioAdmision%>">

      <label for="fotocopiaTituloProfesional">Fotocopia Título Profesional:</label>
      <input type="text" id="fotocopiaTituloProfesional" name="fotocopiaTituloProfesional"
        value="<%=result.FotocopiaTituloProfesional%>">

      <label for="certificadoNacimientoOriginal">Certificado Nacimiento Original:</label>
      <input type="text" id="certificadoNacimientoOriginal" name="certificadoNacimientoOriginal"
        value="<%=result.CertificadoNacimientoOriginal%>">

      <label for="fotocopiaCI">Fotocopia C.I.:</label>
      <input type="text" id="fotocopiaCI" name="fotocopiaCI" value="<%=result.FotocopiaCI%>">

      <label for="curriculumVitae">Curriculum Vitae:</label>
      <input type="text" id="curriculumVitae" name="curriculumVitae" value="<%=result.CurriculumVitae%>">
      <label for="estado">Curriculum Vitae:</label>
      <select name="estado" id="" value="<%=result.Estado%>">
        <option value="">Activos</option>
        <option value="">Inactivos</option>
      </select>
      <button type="submit">Enviar</button>
      <button type="button" id="closeDialogButton">Cerrar</button>
    </form>
  </dialog>


  <h1>Aportes</h1>
  <table id="result-table">
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Fechas</th>
        <th>Monto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se llenarán las filas con los resultados -->
    </tbody>
  </table>
  <dialog id="dialog-update">
    <h2>Hola</h2>
    <label for="" id="label"></label>
    <form id="form-update" action="">
      <button type="reset">Cancelar</button>
      <button id="button-update">submit</button>
    </form>
  </dialog>
  <dialog id="dialog">
    <h3>Pagos</h3>
    <form id="form-create" method="dialog">
      <label for="">Meses</label>
      <input type="text" name="" id="" value="1" disabled>
      <label for="">Desde</label>
      <select name="" id="">
        <option value="">12</option>
        <option value="">13</option>
        <option value=""></option>
      </select>
      <label for="">Hasta</label>
      <select name="" id="">
        <option value="">01</option>
        <option value="">02</option>
        <option value=""></option>
      </select>
      <label for="">Numero de recibo</label>
      <input type="number" name="" id="">
      <label for="">Numero de talonario</label>
      <input type="number" name="" id="">
      <label for="">fecha de cobro</label>
      <input type="date" name="" id="">
      <label for="">monto</label>
      <input type="number">
      <label for="">observacion</label>
      <input type="text">
      <button type="submit">Registrar</button>
      <span id="error-message"></span>
    </form>
  </dialog>
  <script defer>
    const $ = (el) => document.querySelector(el);
    const dialog = $('#dialog');
    const button = $('#button');
    const update = $('#dialog-update');
    const formUpdate = $('#form-update');
    const buttonUpdate = $('#button-update');
    const cancelBtn = formUpdate.querySelector('button[type="reset"]');
    const resultTableBody = $("#result-table tbody");
    const pathname = window.location.pathname;  // Ejemplo: "/item/554"
    const parts = pathname.split("/");
    const lastNumber = parts[parts.length - 1];
    const fetchData = async () => {
      const url = `/contributions/${lastNumber}`;
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error("Error al obtener los datos");
        }
        const res = await response.json();
        if (res.length > 0) {
          res.forEach((item) => {
            const fechaDeCobro = new Date(item.FechaDeCobro);

            const fechaFormateada = fechaDeCobro.toLocaleDateString("es-ES", {
              weekday: 'long', // Día de la semana
              year: 'numeric',
              month: 'long', // Mes en formato largo
              day: 'numeric' // Día del mes
            });
            const horaFormateada = fechaDeCobro.toLocaleTimeString("es-ES", {
              hour: '2-digit',
              minute: '2-digit',
              hour12: true // AM/PM
            });
            const row = document.createElement("tr");
            row.innerHTML = `
            <td>
              <p>T.- ${item.Talonario || 0} - ${item.Recibo || 0}</p>
              ${item.Matricula.toString().padStart(5, "0")}
              <p>${item.Cobrador}</p>
             <p><strong>Fecha: </strong>${fechaFormateada}</p>
             <p><strong>Hora:</strong> ${horaFormateada}</p>
             <p>${item.Observacion ?? "S/O"}</p>
            </td>
            <td>
            <p>${item.FechaInicial} - ${item.FechaFinal} </p>
            <p> <strong>${item.MesesPagados}</strong> Meses</p>
            </td>
            <td>
              <p>${item.Monto}</p>
              <p style='color:crimson'>${item.Faltante}</p>
            </td>
             <td><a href="#" class="editBtn" data-id="${item.AporteId}">Editar</a></td>

          `;
            const editBtns = document.querySelectorAll(".editBtn");
            editBtns.forEach((btn) => {
              const label = $('#label')

              btn.addEventListener("click", (e) => {

                e.preventDefault();  // Prevenir la acción predeterminada del enlace
                label.innerHTML = item.Recibo
                update.showModal();
                cancelBtn.addEventListener("click", closeModal);
                formUpdate?.addEventListener("submit", (e) => {
                  e.preventDefault();
                  closeModal();
                  alert("¡Registro exitoso!");
                });
              });
            });
            resultTableBody.appendChild(row);
          });
        } else {
          const row = document.createElement("tr");
          row.innerHTML = `<td colspan="3">No se encontraron resultados</td>`;
          resultTableBody.appendChild(row);
        }
      } catch (error) {
        console.error("Hubo un problema con la solicitud fetch:", error);
      }
    };
    document.getElementById("openDialogButton").addEventListener("click", function () {
      document.getElementById("personalDataDialog").showModal();
    });

    document.getElementById("closeDialogButton").addEventListener("click", function () {
      document.getElementById("personalDataDialog").close();
    });

    button.addEventListener('click', () => dialog.showModal());
    function closeModal() {
      update.close(); // Cierra el modal
    }
    function closeDialog() {
      dialog.close();
    }

    fetchData();
  </script>
  <%- include('../partials/footer') %>